.logo {
  color: #3c4a3e;
  font-family: "Chilanka", cursive;
  font-size: 1.4rem;
}
.palm-tree-icon {
  margin-right: 0.5rem;
}
.logo-first-letter {
  color: #00a9f6;
  font-family: "Lora", serif;
  font-weight: 800;
  font-size: 1.8rem;
}
.letter-m {
  color: #13aa52;
}
.letter-t {
  color: #00a9f6;
}
.navbar-nav {
  align-items: center;
}
.nav-item {
  margin: 0.5rem;
  padding: 0.4rem;
}
.nav-item a {
  color: #00a9f6;
  font-size: 1rem;
}

.nav-item a:hover,
.navbar-nav .active {
  text-decoration: none;
}
.nav-item:hover,
.navbar-nav .active {
  border-bottom: 2px solid #00a9f6;
}

.dropdown {
  border: 1px solid rgba(0, 169, 246, 0.3);
  border-radius: 0.2rem;
  color: #00a9f6;
}
.dropdown-item {
  color: #00a9f6;
}
.dropdown a {
  color: rgba(0, 169, 246, 0.8) !important;
  padding: 0.25rem;
}

.search-bar .form-control {
  border: 1px solid rgba(0, 169, 246, 0.5);
  max-width: 180px;
}
